<div id="subreddit">
  <form ng-submit="$ctrl.searchSubReddit()">
    <input type="text" ng-model="$ctrl.subreddit" />
  </form>

  <div id="searching-subreddit" class="subreddit-message" ng-show="$ctrl.searching">
    <i class="loading fa fa-refresh fa-spin"></i>
    {{$ctrl.message}}
  </div>

  <div id="searched-subreddit" class="subreddit-message" ng-show="$ctrl.searched">
    <i class="loading fa fa-check"></i>
    {{$ctrl.message}}
  </div>

  <div id="no-subreddit" class="subreddit-message" ng-show="$ctrl.nosubreddit">
    <i class="loading fa fa-remove"></i>
    {{$ctrl.message}}
  </div>
</div>